// Colors
$color-primary: #ff63ff;
$color-primary-light: #ff00ff;
$color-primary-dark:  #c700cb;

$color-logo-blue: #39426c;
$color-logo-red: #dd3969;
$color-logo-green: #a4d01b;
$color-logo-orange: #f7bb03;
$color-logo-skyblue: #4fafe1;

$color-black: #000000;
$color-white: #ffffff;
$color-green: rgba(0, 128, 0, 1);
$color-grey: grey;
$color-dark-grey-2:#999;

$color-gradient-start: rgba(119, 119, 119, 0.85);
$color-gradient-end: #f7f7f7ad;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;
$color-contrast: #fff;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;