.card-1{
    background-color: $color-white;
    height: 28rem;
    border-radius: 0.3rem;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    color: $color-white;

    @include respond(tab-port){
        margin-bottom: $gutter-vertical-card;
    }

    &__picture{
        background-size: cover;
        height: 12rem;
        background-blend-mode: darken;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

        &--1{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-1.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-2.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-3.jpg);
        }
        &--4{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-4.jpg);
        }
        &--5{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-5.jpg);
        }
        &--6{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-6.jpg);
        }
    }

    &__heading{
       font-size: 2.8rem; 
       font-weight: 300;
       text-align: right;
       position: relative;
       padding: 0.25rem;
       top: -1rem;
       right: -7rem;
       background-color: rgba($color-logo-blue, 0.95);
       display: inline-block;

       @include respond(tab-port){
           font-size: 1.8rem;
           right: -8rem;
       }
    }

    &:hover{
        transform: scale(1.06);
    }

    &__details{
        margin-top: -1.5rem;
        padding: 1.5rem;
        color: $color-grey;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: .1rem solid $color-light-grey-2;
                }
            }
        }
    }
}