.card-1{
    background-color: $color-white;
    height: 30rem;
    border-radius: 0.3rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    color: $color-white;


    &__picture{
        background-size: cover;
        height: 12rem;
        background-blend-mode: darken;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

        &--1{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-1.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-2.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, 
            $color-gradient-start,
            $color-gradient-end),
            url(../image/sect-3.jpg);
        }
    }

    &__heading{
       font-size: 2.8rem; 
       font-weight: 300;
       text-align: right;
       position: absolute;
       top: 9rem;
       right: 0.5rem;
       background-color: $color-grey;
       display: block;
    }

    &:hover{
        transform: scale(1.06);
    }

    &__details{
        padding: 1.5rem;
        color: $color-grey;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                text-transform: uppercase;
                font-size: 1rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: .1rem solid $color-light-grey-2;
                }
            }
        }   
    }
}