* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
p{
    margin: 0;
}

body{
    font-family: "Lato" sans-serif;

    main{
        padding: 0 30px;

        .head-dashboard{
            position: relative;
            height: 95vh;
            padding-top: 50px;
            background-image: linear-gradient(to right bottom, 
                $color-gradient-end,
                $color-gradient-end),
                url(../image/indexDash.jpg);
            background-size: cover;
            background-position: top;

        }
    }
}

.head-dashboard{

    .heading-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .heading-primary{
            text-transform: uppercase;
    
            .heading-primary-main{
                display: block;
                font-size: 3.6rem;
                font-weight: 600;
                letter-spacing: 5px;
                color: $color-logo-blue;

                animation: moveInLeft 1.5s ease-in-out;
            }
            .heading-primary-sub{
                display: block;
                font-size: 2.5rem;
                font-weight: 500;
                letter-spacing: 17px;
                color: $color-logo-red;

                animation: moveInRight 1.5s ease-in-out;
            }
        }
    }
}