.section-about{
    background-color: $color-light-grey-1;
    padding: 15rem 10rem;
    margin-top: -20vh;

    @include respond(phone){
        margin-top: -10vh;
    }

}

.section-features{
    padding: 5rem 10rem;
    background-image: linear-gradient(to right bottom, 
                $color-gradient-start,
                $color-gradient-end),
                url(../image/featr.jpg);
    background-size: cover;
    background-position: center;

}

.section-category{
    background-color: $color-light-grey-1;
    padding: 5rem 10rem 10rem 10rem;

    @include respond(tab-port){
        padding: 5rem 10rem 5rem 10rem;
    }
}

.section-contact-us{
    padding: 7.5rem;
    background-color: rgba($color-logo-blue, 0.8);

    @include respond(tab-port){
        padding: 7.5rem 5rem;
    }
}

.contact{
    background-image: linear-gradient(105deg,
                                    rgba($color-white, 0.9) 0%,
                                    rgba($color-white, 0.9) 50%,
                                    transparent 50%),
                                    url(../../image/indexDash.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    height: 35rem;

    &__form{
        width: 50%;
        padding: 2rem 3rem;

        @include respond(phone){
            padding: 2rem 2rem;
        }
    }
}
