.footer{
    background-color: $color-light-grey-2;
    padding: 10rem 10rem;
    font-size: 1.1rem;

    @include respond(phone){
        padding: 8rem 5rem 6rem 5rem;
    }

    &__logo-box{
        text-align: center;
        padding-bottom: 4rem;
    }

    &__para{
        padding-top: 4rem;
        font-size: 1.5rem;
        display: block;

        @include respond(tab-port){
            padding-top: 2rem;
            margin-bottom: 2rem;
        }

        &__span{
            font-size: 1.5rem;
            display: inline-block;
            font-weight: 700;
        }
    }

    &__logo{
        width: 15rem;
        height: auto;     
    }

    &__navigation{
        padding-top: 1rem;
        padding-left: 8rem;
        display: inline-block;

        @include respond(tab-port){
            padding-left: 0rem;
            font-size: 1.75rem;
        }
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            color: $color-black;
            text-decoration: none;
            display: inline-block;
        }

        &:hover,
        &:active{
            color: rgba($color-logo-red, 0.95);
        }

    }

    &__social{
        display: block;
        width: min-content;
    }

    &__copyright{
        padding-top: 1rem;
        font-size: 1rem;
        display: inline-block;

        @include respond(tab-port){
            font-size: 1.5rem;
        }
    }

    &__link-1{
        &:link,
        &:visited{
            color: $color-black;
            text-decoration: none;
            display: inline-block;
        }

        &:hover,
        &:active{
            color: rgba($color-logo-red, 1.5);
        }      
    }
}